.root {
  height: 100vh;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.textStyle {
  font-size: 1.2em;
}

.buttonStyle {
  border-radius: 7px;
  padding: 7px;
  border-color: white;
  font-size: 1em;
}

.quoteBox {
  border-radius: 6px;
  position: relative;
  margin: auto;
  width: 450px;
  padding: 30px 30px;
  display: table;
  background-color: white;
  transform: translateY(50%);
}

.twitter-share-button {
  text-decoration: none;
  color: black;
}
